table,
mat-form-field {
	width: 100%;
}

.mat-mdc-slider {
	max-width: 80%;
	width: 100%;
}

.example-label-container {
	display: flex;
	justify-content: space-between; /* Coloca los labels en las orillas */
	align-items: center;
	width: 80%;
}

.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
}

.label-td {
	width: 35%;
}

.input-td {
	width: 65%;
}

mat-radio-button {
	margin-right: 6dvh;
}

h2 {
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-bottom: 0px;
	color: var(--primaryColor);
}

h3 {
	font-size: 1.2rem;
	margin-top: 2rem;
	margin-bottom: 0px;
	color: var(--primaryColor);
}

label,
mat-label {
	font-size: 1rem;
}

.error-hint {
	color: red;
}

.date-td {
	width: 100%;
}

td {
	vertical-align: middle;
	padding-bottom: 10px;
}

.sticky {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;

	background-color: white; /* Opcional: para que destaque sobre el contenido */
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Opcional: sombra para efecto flotante */
	z-index: 100; /* Asegura que esté encima de otros elementos */
	text-align: right;
}

.sticky div {
	margin-right: 50px;
}

button {
	margin: 0 10px;
}
