<mat-dialog-content>
  @if (currentPage == 1) {
  <mat-card class="popup-card">
    <mat-card-header>
      <mat-card-title>Solicitud #{{ data.ID_SOLICITUD }}</mat-card-title>
      <mat-card-subtitle
        >Creada el
        {{ data.FECHA_CREACION | date : "medium" }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content class="grid-container">
      <section>
        <h3>Detalles de la Solicitud</h3>

        <div class="content-container">
          <p><strong>Vehículo Solicitado:</strong></p>
          <p>{{ data.VEHICULO.TIPO }}</p>

          <mat-icon
            (click)="pageAndDetails(2, data.ID_VEHICULO)"
            fontIcon="info"
            class="button-back"
          ></mat-icon>
        </div>

        <p><strong>Destino del viaje:</strong> {{ data.DESTINO }}</p>
        <p><strong>Diligencia a realizar:</strong> {{ data.DILIGENCIA }}</p>
      </section>

      <section>
        <h3>Fechas</h3>
        <p>
          <strong>Fecha y Hora de Entrega:</strong>
          {{
            data.FECHA_HORA_ENTREGA | date : "d 'de' MMMM 'de' y 'a las' h:mm a"
          }}
        </p>
        <p>
          <strong>Fecha y Hora de Devolución:</strong>
          {{
            data.FECHA_HORA_DEVOLUCION
              | date : "d 'de' MMMM 'de' y 'a las' h:mm a"
          }}
        </p>
      </section>

      <section>
        <h3>Piloto</h3>
        <p><strong>Con Piloto:</strong> {{ data.CON_PILOTO ? "Sí" : "No" }}</p>
        <p><strong>Nombre del conductor:</strong> {{ data.NOMBRE_PILOTO }}</p>
      </section>

      <section>
        <h3>Estado de la Solicitud</h3>
        @if (this.idUsuario == 1) {
        <p>
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select
              [(value)]="this.estadoTemporal" 
              (selectionChange)="changes($event)"
            >
              @for (estadoSelect of estados; track estadoSelect) {
              <mat-option [value]="estadoSelect.id">{{
                estadoSelect.estado
				
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          @if (this.areaJustificacion == true) {
			<p>
				<mat-form-field appearance="outline" class="areaJustificacion">
				  <mat-label>Justificacion</mat-label>
				  <textarea  matInput placeholder=""> </textarea>
				</mat-form-field>
				
			  </p>
		  }

        </p>


        } @else {

        <h2>@if (data.ESTADO ==1) { Aprobada }</h2>

        }
      </section>
    </mat-card-content>
  </mat-card>

  } @if (currentPage==2) {
  <mat-card class="popup-card">
    <mat-icon
      (click)="page(1)"
      fontIcon="arrow_back"
      class="button-back"
    ></mat-icon>

    <mat-card-header>
      <mat-card-title>Detalles del Vehículo</mat-card-title>
    </mat-card-header>

    <mat-card-content class="grid-container">
      <section>
        <p><strong>Placa del Vehículo:</strong> {{ vehiculo?.PLACA }}</p>
        <p><strong>Tipo de Vehículo:</strong> {{ vehiculo?.TIPO }}</p>
      </section>

      <section>
        <p><strong>Marca del Vehículo:</strong> {{ vehiculo?.MARCA }}</p>
        <p><strong>Color del Vehículo:</strong> {{ vehiculo?.COLOR }}</p>
      </section>

      <section>
        <p>
          <strong>Registro del Inventario:</strong>
          {{ vehiculo?.REGISTRO_DE_INVENTARIO }}
        </p>
        <p>
          <strong>Kilometraje del Vehículo:</strong>
          {{ condiciones?.KILOMETRAJE }}
        </p>
      </section>

      <section>
        <p>
          <strong>Nivel de Combustible:</strong>
          {{ condiciones?.NIVEL_COMBUSTIBLE | combustiblePipe }}
        </p>
        <mat-progress-bar
          [mode]="'determinate'"
          [value]="(condiciones?.NIVEL_COMBUSTIBLE ?? 0) * 100"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
  </mat-card>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <div class="pop-container">
    <div>
      <button mat-button class="pop-container-button" (click)="onPDF()">
        Generar PDF
        <mat-icon fontIcon="picture_as_pdf" aria-hidden="false"></mat-icon>
      </button>
    </div>
    <div>
      @if (this.eBoton == true) {
      <button class="pop-container-button" mat-button (click)="save()">
        guardar
        <mat-icon fontIcon="save" aria-hidden="false"></mat-icon>
      </button>
      }

      <button
        class="pop-container-button"
        mat-button
        [mat-dialog-close]=""
        cdkFocusInitial
      >
        cancelar
        <mat-icon fontIcon="close" aria-hidden="false"></mat-icon>
      </button>
    </div>
  </div>
</mat-dialog-actions>
