table {
	width: 100%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

td,
th {
	width: auto;
}
.stylerow:hover {
	cursor: pointer;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: #3bda0b;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
}

.Aprobada {
	background-color: #3bda0b;
}

.Pendiente {
	background-color: #f7b731;
}

.Rechazada {
	background-color: #eb3b5a;
}

.Anulada {
	background-color: #7f8fa6;
}

.Eliminada {
	background-color: #7f8fa6;
}

.Finalizada {
	background-color: #2685de;
}

td {
	vertical-align: middle;
}

.grid-container {
	width: auto;

	display: grid;
	grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
	gap: 20px; /* Espacio entre columnas */
	margin-top: 0;
	margin: 0;
	vertical-align: middle;
}

.grid-container button {
	width: 100%;
	margin: 20px;
	margin-right: 0;
	margin-left: 0;
	height: auto;
	width: 200px;
	color: gray;
}

form {
	padding: 0;
}

.search {
	width: 100%;
	grid-template-columns: 1fr auto;
}

.submit {
	width: 100%;
}

mat-card-header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

/* styles.css o en el archivo de estilos del componente */
.Aprobada-container {
	width: auto;

	background-color: #d4f4e0; /* color verde claro */
	color: #3c9a5f; /* color verde oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.Rechazada-container {
	width: auto;

	background-color: #fde2e2; /* color rojo claro */
	color: #d9534f; /* color rojo oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.Pendiente-container {
	width: auto;

	background-color: #fef9e7; /* color amarillo claro */
	color: #f0ad4e; /* color amarillo oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.Eliminada-container {
	width: auto;

	background-color: #f4f4f4; /* color gris claro */
	color: #7f8fa6; /* color gris oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.Anulada-container {
	width: auto;

	background-color: #f4f4f4; /* color gris claro */
	color: #7f8fa6; /* color gris oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.Finalizada-container {
	width: auto;

	background-color: #e8f7ff; /* color azul claro */
	color: #2685de; /* color azul oscuro */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 1dvh;
}

.center {
	text-align: center;
	align-items: center;
	align-content: center;
	width: auto;
}
