table {
	width: 100%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

td,
th {
	width: auto;
}
.stylerow:hover {
	cursor: pointer;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: #3bda0b;
	border-radius: 50%;
	display: inline-block;
}

.Aprobada {
	background-color: #3bda0b;
}

.Pendiente {
	background-color: #f7b731;
}

.Rechazada {
	background-color: #eb3b5a;
}

.Anulada {
	background-color: #7f8fa6;
}

.Eliminada {
	background-color: #7f8fa6;
}

.Finalizada {
	background-color: #2685de;
}

td {
	vertical-align: middle;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
	gap: 20px; /* Espacio entre columnas */
	margin-top: 0;
	margin: 0;
	vertical-align: middle;
}

.grid-container button {
	margin: 20px;
	margin-right: 0;
	margin-left: 0;
	height: auto;
	width: 200px;
	color: gray;
}

form {
	padding: 0;
}

.search {
	width: 100%;
	grid-template-columns: 1fr auto;
}

.submit {
	width: 100%;
}

mat-card-header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
