table,
mat-form-field {
	width: 100%;
}

.mat-mdc-slider {
	max-width: 80%;
	width: 100%;
}

.example-label-container {
	display: flex;
	justify-content: space-between; /* Coloca los labels en las orillas */
	align-items: center;
	width: 80%;
}

.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
}

.label-td {
	width: 35%;
}

.input-td {
	width: 65%;
}

mat-radio-button {
	margin-right: 6dvh;
}

h2 {
	font-size: 1.3rem;
	margin-top: 2rem;
	margin-bottom: 0px;
	color: var(--primaryColor);
}

h3 {
	font-size: 1.2rem;
	margin-top: 2rem;
	margin-bottom: 0px;
	color: var(--primaryColor);
}

label,
mat-label {
	font-size: 1rem;
}

.error-hint {
	color: red;
}

.date-td {
	width: 100%;
}

td {
	vertical-align: middle;
	padding-bottom: 10px;
}
