<div class="welcome-section container">
	<h2>Sistema de Solicitudes de Vehiculos - CUNORI</h2>
	<h3>SISVEC</h3>
	<h5>v1.0 ~Ozaru~</h5>
	<img src="../../../assets/logo-usac.jpg" alt="CUNORI Logo" class="logo" />

	<div class="p-container container">
		<p>
			Para las personas relacionadas al proceso de solicitud de vehículos propiedad del Centro Universitario de Oriente
			CUNORI, quienes necesitan llevar un control sobre las solicitudes realizadas y en proceso, el SISVEC que es un
			Sistema de Solicitudes de Vehículos de CUNORI que simplifica la forma de realizar el proceso de solicitud de
			vehículos propiedad de la universidad, a diferencia de una gestión por medios físicos, nuestro producto se adapta
			para el uso de diferentes roles que permiten la organización y ordenamientos de las solicitudes, aprobaciones y
			entregas de los vehículos.
		</p>
		<p>
			Hacer que el SISVEC simplifique todo lo relacionado al proceso de solicitud de vehículos pertenecientes al Centro
			Universitario de Oriente CUNORI, desde el proceso de solicitud, aprobación y entrega de vehículos, facilitando
			este proceso a todas las personas involucradas en sus distintos roles.
		</p>
	</div>
</div>
