/* You can add global styles to this file, and also import other style files */

/*vars in css*/
:root{
	--primaryColor: #673ab7;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}



.ErrorSnackBar {
	.mdc-snackbar__surface {
		--mdc-snackbar-container-color: red;
		--mdc-snackbar-supporting-text-color: white;
		--mat-snack-bar-button-color: white;
	}
}

.OkSnackBar {
	.mdc-snackbar__surface {
		--mdc-snackbar-container-color: var(--primaryColor);
		--mdc-snackbar-supporting-text-color: white;
		--mat-snack-bar-button-color: white;
	}
}

.mat-mdc-form-field {
	--mat-form-field-state-layer-color: transparent;
	--mdc-filled-text-field-container-color: transparent;
}

.container {
	padding: 20px;
}
