<div class="container">
	<form [formGroup]="formSubmit">
		<mat-form-field appearance="outline">
			<mat-label>Destino</mat-label>
			<input matInput placeholder="Ej. Universidad de San Carlos de Guatemala" formControlName="destino" />
			@if (formSubmit.controls['destino'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Diligencia</mat-label>
			<input matInput placeholder="Ej. Visita a campus central" formControlName="diligencia" />
			@if (formSubmit.controls['diligencia'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Rango de fechas</mat-label>
			<mat-date-range-input [formGroup]="fechasGroup" [rangePicker]="picker">
				<input matStartDate formControlName="entrega" placeholder="Fecha de entrega" />
				<input matEndDate formControlName="devolucion" placeholder="Fecha de devolución " />
			</mat-date-range-input>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-date-range-picker #picker></mat-date-range-picker>
			<mat-hint>DD/MM/AAAA - DD/MM/AAAA</mat-hint>

			@if (fechasGroup.controls["entrega"].hasError('matStartDateInvalid')) {
			<mat-error>Fecha de entrega no válido</mat-error>
			} @if (fechasGroup.controls['devolucion'].hasError('matEndDateInvalid')) {
			<mat-error>Fecha de devolución no válido</mat-error>
			} @if (fechasGroup.controls['entrega'].hasError('required') ||
			fechasGroup.controls['devolucion'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Hora de entrega</mat-label>
			<input type="time" matInput formControlName="horaEntrega" />
			<mat-hint>hh:mm tt</mat-hint>
			@if (formSubmit.controls['horaEntrega'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Hora de devolución</mat-label>
			<input type="time" matInput formControlName="horaDevolucion" />
			<mat-hint>hh:mm tt</mat-hint>
			@if (formSubmit.controls['horaDevolucion'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Vehículo</mat-label>
			<mat-select formControlName="vehiculo">
				@for (item of vehiculos; track $index) {
				<mat-option [value]="item"> {{ item.TIPO }} {{ item.MARCA }} Placa {{ item.PLACA }} </mat-option>
				}
			</mat-select>
			@if (formSubmit.controls['vehiculo'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<mat-radio-group formControlName="conPiloto" class="radio-group" (change)="onRadioButtonChange($event)">
			<mat-radio-button value="0">Sin piloto</mat-radio-button>
			<mat-radio-button value="1">Con piloto</mat-radio-button>
		</mat-radio-group>

		<mat-form-field appearance="outline">
			<mat-label>Nombre del piloto</mat-label>
			<input matInput placeholder="Ej. Juan Pérez" formControlName="nombrePiloto" />
			@if (formSubmit.controls['nombrePiloto'].hasError('required')) {
			<mat-error>Requerido</mat-error>
			}
		</mat-form-field>

		<button mat-flat-button color="primary" (click)="onSubmit()">Enviar</button>
	</form>
</div>
